html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Lato', sans-serif;
}
p{
  opacity: 0.7;
}
.column-1 a{
  text-decoration: underline;
  color: black;
}
header{
  width:100%;
  overflow: hidden;
  position: relative;
  height: 700px;
}
.hero-bckgrnd{
  background-color: #cee8f0;
  width: 100%;
  margin-top: 80px;
  height: 150px;
}
.menu-header{
  height: 200px;
}
ul{
    position: sticky;
    list-style-type: none;
    display: inline;
    float: right;
}
nav ul li {
float: left;
}
#logo{
  width:300px;
  float: left;
  overflow: hidden;
  top:0px;
  left: 10px;
  position: absolute;
  z-index: 1;
  height: auto;
}
.nav li a {
  display:block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;

}
.burger{
  display: none;
}
#hero{
  margin-top: 8%;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
}
.hero-img1{
  background-image: url('FL_02345.jpg');
  /*animation-name: heroimage;
  animation-duration:2s;
  animation-delay: -1s;
  animation-timing-function: linear;*/
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #cee8f0;
  padding:1% 1%;
  padding-bottom: 3%;
  margin: auto;
  border: 1px solid #888;
  width: 60%;
  height: auto;
}
.column-modal{
  float: left;
  width: 45%;
  padding: 10px;
  height: auto;
}
.column-modal img{
  max-width: 70%;
  height: auto;
}
.column-modal p{
font-size: 1.5em;
}
.col-m-2{
  margin-left: 5%;
}
.row-modal{
  max-width: 100%;
  height: auto;
  text-align: center;

}
.row-modal:after {
  content: "";
  display: table;
  clear: both;
}

.row-modal img{
  width: 60%;
  margin-top: 5%;
}
.row-modal p{
  font-size: 20px;

}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  font-weight: bold;

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.bottom-right{
  color: #fefefa;
  font-family: 'Dancing Script', cursive;
  position: absolute;
  bottom: 15%;
  right: 5%;
  animation-name: example;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: -0.3s;

}
.bottom-right p{
  font-size: 50px;
  padding: 0;
  margin: 5px;
}

@keyframes heroimage {
  0%{filter: opacity(0);}
  25%{filter: opacity(0.3);}
  50%{filter: opacity(0.8);}
  75%{filter: opacity(0.9);}
  100%{filter: opacity(0.5);}
}
@keyframes example {
  0%{right:0px; opacity: 0.6;}
  25%{right:2%; opacity: 0.8;}
  50%{right:4%;}
  100%{right:5%;}
}

}
.main{
  margin: auto;
  width: 100%;

}
#myBtn{
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
   /* Set a background color */
  color: #555; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
 /* Some padding */
  /* Rounded corners */
  font-size: 50px;
  /* Increase font size */
}


#myBtn:hover {
  opacity: 0.6; /* Add a dark-grey background on hover */
}
.about{
  padding:5% 8%;

}
.column-1{
  float: left;
  width: 45%;

}
.column-1 {
  font-size: 1.5em;
  text-align: left;
}
.column-1::first-letter {
  font-size: 160%;
  color: black;
  font-family: 'Playfair Display', serif;
}



.row-1:after {
  content: "";
  display: table;
  clear: both;
}
.row-2:after {
  content: "";
  display: table;
  clear: both;
}


.menu{
  background-color: #cee8f0;
  padding:5% 8%;
}

.column{
  float: left;
  width: 45%;
  padding: 5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.order, .gallery{
  padding:5% 8%;
  background-color: #f5fafc;
}
.order{
  background-color: #cee8f0;
}
.row-gal{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column-gal {
  -ms-flex: 25%; /* IE10 */
  flex: 32%;
  max-width: 32%;
  padding: 0 4px;
}

.column-gal img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


.contact{

  padding:5% 8%;
}
.about_image{
  margin: 15px;
  border: none;
  border-radius: 2px;
}
.ordtxt{
  font-size: 1.2em;
}
.footer-distributed{
  position: absolute;
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 33%;
  margin-top: -15px;
  padding-left: 2%;
}

.follow{
  font-weight: bold;

}

.footer-company-name{
  font-weight: normal;
}


.footer-distributed {
	color:  #fefefa;
	margin: auto ;
	padding: 1%;

}



/* Footer Center */

.footer-distributed .footer-center{
	width: 33%;

}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}


.footer-distributed .footer-center p{
	display: inline-block;
	color: #fefefa;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}



/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #fefefa;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{

	font-weight: bold;
	margin-bottom: 10px;
}

.footer-distributed .footer-icons{
	margin-top: 15px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #fefefa;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
.hours{
  font: 15px sans-serif;


}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit], #specialsBut {
  background-color: #dea593;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #cc7458;
}
#specialsBut:hover {
  background-color: #cc7458;
}

.container {
  border-radius: 5px;
  background-color: #f5fafc;
  padding: 20px;
  width: 60%;
  margin:5% 20%;
}
iframe{
  margin:5% 15%;
  width: 70%;
  height:400px;
}
#gal {
  position: relative
}

#gal span {
  display: none;
  position: absolute;
  top: 30%;
  width: 200px;
  padding: 20px;
  background: rgba(255,255,255,.8);
}


#gal:hover span {
  display: block;
}


@media (max-width:1086px) and (min-width:722px){
  header{
    height: 600px;
  }
  #hero{
    margin-top: 10%;
    background-size: cover;
  }
  #logo{
    width:240px;
    top:20px;
    left: 10px;
  }
  .column-1 {
    width: 45%;
    float: left;
    font-size: 20px;
  }
  .about_image{

  }
  .column{
    width: 45%;
    float: left;
    padding: 15px;
  }
/*  .col-m-3, .col{
    width: 48%;
    float: none;
    margin-left: 25%;
  }*/
  .container{
    width: 70%;
    margin: 8% 13%;
  }
  .footer-distributed .footer-center p{
  	font-weight: normal;
  	font-size:14px;
  	line-height:2;
  }
  .bottom-right{
  font-size: 40px;
  bottom: 10%;
  right: 5%;
  animation-name: example;
}
.modal-content {
  background-color: #cee8f0;
  padding:2% 2%;
  padding-bottom: 3%;
  margin: auto;
  border: 1px solid #888;
  width: 60%;
  height: auto;
}
.col-m-2{
  margin-left: 0%;
}
/*.column-modal{
  float: left;
  width: 45%;
  padding: 0px 10px;
  height: auto;
}
.column-modal img{
  max-width: 70%;
  height: auto;
}*/
.row-modal{
  max-width: 100%;
  height: auto;
}

.modal-text{
  margin-top:8%;
}
  .column-gal {
    -ms-flex: 50%;
    flex: 30%;
    max-width: 50%;
  }
  .nav li a {
    font-size: 1.3em;
  }
  iframe{
    margin:5% 10%;
    width: 80%;
    height:400px;
  }

}


@media screen and (max-width:722px) {
  #hero{
    margin-top: 15%;
    background-size: cover;
  }

  .nav li a {
    font-size: 1.5em;
  }

  header{
    height: 500px;
  }
  .column, .column-1 {
    width: 100%;
  }
  .container{
    width: 80%;
    margin: 5%;
  }
  .column-1{
    font-size: 20px;
  }
  .column-gal {
   -ms-flex: 100%;
   flex: 100%;
   max-width: 100%;
 }
	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
   .footer-center{
     margin-left: -2%;

   }
   .footer-left{
     padding-left: 0;
   }

 .bottom-right{

 bottom: 10%;
 right: 5%;
 animation-name: example;
 padding-left: 10px;
 z-index: 0;
}
#fr1,#fr2,#fr3,#fr4{
  font-size: 40px;
}
.topnav{
  display: none;
}
.col-m-2{
  margin-left: 0%;
}
.responsive {
  display: block;
  float: none;
}
.responsive li{
  float: none;

}
.burger {
  display: block;
  position: absolute;
  right: 5%;
  top: 1%;
  width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  white;
	border-radius: 2px;
  padding: 5px;
  text-align: center;
  font-size: 30px;
}
.fa2{
  color:black;

}
#logo{
  width:35%;
  top:20px;
  left: 10px;
}
.about_image, .column{
  padding: 0;
  padding-bottom: 20px;
}
.row-2{
  display: flex;
  flex-flow: column;
}
.about_image{
  order:2;
  margin: auto;
}
.flex-p{
  order:1;
}
iframe{
  margin: 0;
  width: 100%;
  height:250px;
}
.hero-bckgrnd{
  background-color: #cee8f0;
  width: 100%;
  margin-top: 80px;
  height: 220px;
}
.menu-header{
  height: 300px;
}
.menu-header-resp{
  height: 200px;
}
.modal-content {
  background-color: #cee8f0;
  padding:2% 2%;
  margin: auto;
  border: 1px solid #888;
  width: 90%;
  height: auto;
}
.column-modal{
  float: left;
  width: 40%;
  padding: 0px 10px;
  height: auto;
}

.column-modal img{
  max-width: 80%;
  height: auto;
}
.row-modal{
  max-width:100%;
  max-height: 100%;

}
.column-modal p{
  font-size: 1em;
}
.modal-text{
  margin-top:3%;
}

}
